.jumbotron {
    background-image: url("images/bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(7, 232, 232);
  }
  .body {
    font: "Times";
    background-color: #60e8d3;
  }